<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Load octomap launch -->
  <include file="$(find publish_pointcloud)/launch/octomaptransform.launch" />

  <!-- RViz with debug output -->
  <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" 
        args="-d $(find publish_pointcloud)/rviz/OctomapShow.rviz">
  </node>
</launch>